%ul
  %li
    %ul 
      第三章：Rich Media
      %li
        Canvas
        %ul
          %li
            %a{:href => "/html5_for_designers/canvas"} Canvas Basic
          %li
            %a{:href => "/html5_for_designers/canvas_tree"} Canvas Tree
          %li
            %a{:href => "/html5_for_designers/canvas_text"} Canvas Text
      %li
        %a{:href => "/html5_for_designers/audio"} Audio
      %li
        %a{:href => "/html5_for_designers/forms"} Forms
