%h1About Us
%p
  %a{ :href => "http://railstutorial.org/" }feddback page
  is a project to make a book and screencasts to teach web development with
  %a{ :href => "rubyonrails.org/" }Ruby on Rails
  This is the sample application for the tutorial.


     
        
