- if signed_in?
  %table{ :class => "front", :summary => "For signed-in users"}
    %tr
      %td.main
        %h1.microposts
          What's up?
        = render 'shared/micropost_form'
        
      %td{ :calss => "sidebar round" }
        = render 'shared/user_info'
- else
       
  %h1 Sample App
  %p
    This is the home page for the
    %a{ :href => "http://railstutorial.org/"}Ruby on Rails Tutorial
  
    = link_to "Sign up now!", signup_path, :class => "signup_button round"
     
        
