%table{ :class => "profile", :summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user, :size => 30
        = @user.name
    
    %td{ :class => "sidebar round" }
      %strongNamme
      = @user.name
      %br
      %strongURL
      = link_to user_path(@user), @user
